* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #003db6;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #434343;
    font-size: 16px;
}

form.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    
    margin: 0 auto;
    grid-gap: 20px;
}

form.cards div.card {
   
   
    align-items: center;
    text-align: center;
    background: white;
    padding: 8rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    width: 200px;
    margin-left: 20px;
}

form.cards div.card label {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin: 16px;
}



form.cards div.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

form.cards div.card input{
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1px;
}

form.cards div.card select{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 16px 0;
}

form.cards div.card input {
    background: linear-gradient(to right, #2d253b, #DFCBFF);
}

form.cards div.card select {
    background: linear-gradient(to right, #2d253b, #DFCBFF);
}



form.cards div.card.segundo button {
    background: linear-gradient(to right, #2d253b, #DFCBFF);
}
form.cards div.card.terceiro button {
    background: linear-gradient(to right, #2d253b, #BBDEFF);
}
form.cards div.card.quarto button {
    background: linear-gradient(to right, #2d253b, #FFC7D9);
}
form.cards div.card.quinto button {
    background: linear-gradient(to right, #2d253b, #FFC7D9);
}
form.cards div.card.sexto button {
    background: linear-gradient(to right, #2d253b, #FFC7D9);
}
form.cards div.card.setimo button {
    background: linear-gradient(to right, #2d253b, #FFC7D9);
}

form.cards div.card.primeiro {
    box-shadow: 20px 20px 50px -30px #3c3c3c;
}
form.cards div.card.segundo {
    box-shadow: 20px 20px 50px -30px #3c3c3c;
}
form.cards div.card.terceiro {
    box-shadow: 20px 20px 50px -30px #3c3c3c;
}
form.cards div.card.quarto {
    box-shadow: 20px 20px 50px -30px #3c3c3c;
}
form.cards div.card.quinto {
    box-shadow: 20px 20px 50px -30px #3c3c3c;
}
form.cards div.card.sexto {
    box-shadow: 20px 20px 50px -30px #3c3c3c;
}
form.cards div.card.setimo {
    box-shadow: 20px 20px 50px -30px #3c3c3c;
}

@media screen and (max-width: 720px) {
    form.cards {
        flex-direction: column;
    }

    form.cards div.card {
        margin-left: 10px;
        margin-bottom: 32px;
    }

    form.cards div.card:last-child {
        margin-bottom: 0;
    }

    form.cards div.card button {
        font-size: 70%;
    }
}

.flip-card {
    background-color: transparent;
    width: 200px;
    max-height: 468px;
    margin-left: 20px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .card.primeiro {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card-front, .card-back {
    position: static;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card:hover .card.primeiro {
    transform: rotateY(180deg);
  }
  
  .card-back {
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }